
.about {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    .about-content{
        h4 {
            font-size: 30px;
            text-transform: capitalize;
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 20px;
          }
      }
      .about-image {
        position: relative;
        &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: tomato;
            bottom: -10px;
            left: 10px;
            z-index: -1;
        }
      }
  }


.about-bottom {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 30px;
  .single-about {
    text-align: center;
    i {
        font-size: 35px;
      }
      h4 {
        margin: 10px 0;
        text-transform: capitalize;
      }
      a {
        display: inline-block;
        color: tomato;
        text-transform: capitalize;
        margin-top: 10px;
        font-size: 18px;
        transition: .3s;
        &:hover{
            color: red;
        }
      }
  }
  }


  .single-about 
  .single-about 
  .single-about 
  .single-about a:hover {
    color: #d20;
  }