.section-title{
    h4 {
        text-transform: lowercase;
        font-size: 20px;
      }
      h2 {
        text-transform: capitalize;
        font-size: 35px;
        display: inline-block;
        position: relative;
        margin: 5px 0;
        padding-bottom: 9px;
        margin-bottom: 12px;
        &:after{
            position: absolute;
            content: "";
            background-color: tomato;
            width: 70px;
            height: 3px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
      }
      p{
        max-width: 800px;
        margin: 0 auto;
      }
}
