
.service {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
    overflow: hidden;
    .single-service {
        text-align: center;
        border-bottom: 3px solid transparent;
        transition: .3s;
        padding: 20px;
        transform: scale(1);
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0px 0px 18px -12px rgb(92, 91, 91);
        &:hover{
            border-bottom: 3px solid tomato;
            box-shadow: 0px 0px 19px -12px #333;
            transform: scale(1.01);
        }
        &:hover i {
            color: white;
            background-color: tomato;
          }
          i {
            font-size: 30px;
            background-color: #dfdfdf;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            transition: .3s;
          }
          h4 {
            font-size: 25px;
            text-transform: capitalize;
            margin: 10px 0;
          }
          p {
            margin-bottom: 20px;
          }
      }
  }
